The user query: {{ instruction }}
Task progress (You have done the following operation on the current device): {{ history if history else "None" }}
<image>
Before answering, explain your reasoning step-by-step in <thinking></thinking> tags, and insert them before the <tool_call></tool_call> XML tags. After answering, summarize your action in <conclusion></conclusion> tags, and insert them after the <tool_call></tool_call> XML tags.

